@use '../../../../variables';

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

dipnoi-spotlight-proposal {
  flex-grow: 1;
}

h1 {
  flex-shrink: 0;
}

.content {
  flex-grow: 1;
  flex-direction: row;
  display: flex;
  gap: 30px;
}

.proposals {
  min-width: 362px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.subtitle {
  width: fit-content;
  flex-grow: 0;
  flex-shrink: 0;
}

.full-horizontal-divider {
  background-color: variables.$text-color;
}

.news {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  gap: 10px;
}

.news-content {
  flex-grow: 1;
  border: 1px solid black;
  display: flex;
  overflow: hidden;
}

.selected-news {
  flex-grow: 1;
  border-right: 1px solid black;
  overflow-y: scroll;
}

.news-list {
  min-width: 392px;
  overflow-y: scroll;
}
