@use '../../../../variables';

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

dipnoi-spotlight-proposal {
  flex-grow: 1;
}

h1 {
  flex-shrink: 0;
}

.content {
  flex-grow: 1;
  flex-direction: row;
  display: flex;
  gap: 30px;
}

.proposals {
  width: 362px;
  height: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header {
  display: flex;
  height: fit-content;
  flex-shrink: 0;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.subtitle {
  width: fit-content;
  flex-grow: 0;
  flex-shrink: 0;
}

.full-horizontal-divider {
  background-color: variables.$text-color;
}

.news {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  flex-grow: 1;
  height: 100%;
  gap: 10px;
}

.vertical-card-news {
  flex-direction: row;
  gap: 0px;
}

.selected-news {
  flex-grow: 1;
  flex-shrink: 1;
  overflow-y: scroll;
  gap: 15px;
  min-width: 362px;
}

.news-list {
  width: 362px;
  flex-shrink: 0;
  flex-grow: 0;
  overflow-y: scroll;
  margin-right: -30px;
}

.full-vertical-divider {
  flex-shrink: 0;
  flex-grow: 0;
  margin-top: -30px;
  margin-bottom: -30px;
}
