<ng-container *ngIf="state$ | async as state">
  <ng-container *ngIf="state.finished">
    <h1 class="text">The email has been sent</h1>
    <p class="text">
      Follow its instructions if you wish to carry on with this process.
    </p>
  </ng-container>
  <ng-container *ngIf="!state.finished">
    <h1 class="text">Enter your email address</h1>
    <p class="text">
      To reset your password, please enter your email address. We will send you
      the information you need to set a new password.
    </p>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onContinue()">
      <div class="row">
        <input
          class="input-field"
          type="text"
          formControlName="email"
          required
        />
        <p class="floating-label">Email address</p>
      </div>
      <button class="row" [disabled]="!forgotPasswordForm.valid" type="submit">
        Continue
      </button>
    </form>
    <div class="row links">
      <small
        class="text"
        [routerLink]="[]"
        [relativeTo]="route"
        [queryParams]="signInQueryParam"
        queryParamsHandling="merge"
      >
        Back
      </small>
    </div>
  </ng-container>
</ng-container>
