<ng-container *ngIf="state$ | async as state">
  <div class="dialog-content">
    <ng-container *ngIf="state.finished">
      <div class="header">
        <!--
    <img class="image" src="../../../assets/icons/Logo1.png" />
    -->
        <h3>The email has been sent</h3>
        <p>
          Follow its instructions if you wish to carry on with this process.
        </p>
      </div>
    </ng-container>
    <ng-container *ngIf="!state.finished">
      <div class="header">
        <!--
    <img class="image" src="../../../assets/icons/Logo1.png" />
    -->
        <h3>Enter your email address</h3>
        <p>
          To reset your password, please enter your email address. We will send
          you the information you need to set a new password.
        </p>
      </div>
      <form
        class="main-content"
        [formGroup]="forgotPasswordForm"
        (ngSubmit)="onContinue()"
      >
        <div class="text-field-container">
          <input
            class="text-field-base"
            type="text"
            formControlName="email"
            required
          />
          <p class="text-field-label">Email address</p>
        </div>
        <button
          class="button-base button-base-blue"
          [disabled]="!forgotPasswordForm.valid"
          type="submit"
        >
          Continue
        </button>

        <button
          class="button-base button-base-trans"
          [routerLink]="[]"
          [relativeTo]="route"
          [queryParams]="signInQueryParam"
          queryParamsHandling="merge"
        >
          Back
        </button>
      </form>
    </ng-container>
  </div>
</ng-container>
