@use '../../../../../variables';

:host {
  padding-bottom: 30px;
}

.vertical-card {
  height: fit-content;
  padding: 20px;
  gap: 20px;
}

.box-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  gap: 30px;
  overflow: hidden;
}

.p-category {
  width: 75px;
  flex-shrink: 0;
  font-weight: variables.$font-weight-medium;
}

.p-value {
  width: fit-content;
  text-align: left;
}

.value-icon {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
}

.row-icon {
  box-sizing: border-box;
  height: 35px;
  gap: 0px;
  justify-content: space-between;
  align-items: center;
}

.box-column {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
}

.dialog-side-content {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 20px;
}

.bar-row {
  align-items: center;
  gap: 8px;
  height: 30px;
}

.icon-container {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
  }
}

.icon-container-priority {
  width: 20px;
  height: fit-content;
}

.adjustment-vector-up {
  padding-bottom: 1px;
}

.adjustment-vector-down {
  padding-top: 1px;
}

.backing-title {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.icon-button {
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
