@use '../../../../../variables';

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  gap: 20px;
}

.section {
  display: flex;
  margin-top: 10px;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  height: fit-content;
  width: 75%;
  gap: 20px;
  align-self: center;

  h5 {
    color: variables.$outline;
  }
}

.date {
  flex-shrink: 0;
  flex-grow: 0;
  width: fit-content;
  height: fit-content;
  justify-self: center;
}

.full-horizontal-divider {
  flex-grow: 1;
  flex-shrink: 1;
}

.horizontal-card {
  align-items: center;
  justify-content: space-evenly;
  height: 56px;
  gap: 20px;
  padding: 0px 30px;
}

.medium {
  font-weight: variables.$font-weight-medium;
}

.tags {
  flex-basis: 220px;
  flex-shrink: 1;
  overflow: hidden;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 20px;
  gap: 5px;
}

.tag {
  height: 20px;
}

.h5-title {
  width: 240px;
  flex-shrink: 0;
  height: fit-content;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.h5-user {
  width: 130px;
  flex-shrink: 0;
  height: fit-content;
}

.h5-date-created {
  width: 165px;
  flex-shrink: 0;
  height: fit-content;
  text-align: end;
}

.h5-date-finalized {
  width: 205px;
  flex-shrink: 0;
  height: fit-content;
  text-align: end;
}
