<ng-container *ngIf="state$ | async as state">
  <div class="central-frame-content" #infiniteScrollContainerRef>
    <div class="central-frame-content-header">
      <h1>Open proposals</h1>
      <dipnoi-params
        (onParamsUpdated)="handleOnParamsUpdated($event)"
        [filterOptions]="filterOptions"
        [orderOptions]="orderOptions"
        [defaultFilter]="4"
        [defaultOrder]="0"
      ></dipnoi-params>
    </div>
    <dipnoi-proposal-list
      [infiniteScrollContainerRef]="infiniteScrollContainerRef"
      [params]="state.params"
    ></dipnoi-proposal-list>
  </div>
</ng-container>
