<ng-container
  *ngIf="proposalService.selectedProposal$ | async as selectedProposal"
>
  <div class="wrapper">
    <div class="box">
      <h4>Details</h4>
      <div class="box-row">
        <small>Title</small>
        <small>
          {{ selectedProposal.initialTitle }}
        </small>
      </div>
      <div class="box-row">
        <small>Author</small>
        <small>
          {{ selectedProposal.user.nickname }}
        </small>
      </div>
      <div class="box-row">
        <small>Labels</small>
        <small>
          {{ selectedProposal.categories[0] }}
        </small>
      </div>
    </div>
    <div class="box">
      <h4>Backing</h4>
      <div class="box-row">
        <ng-icon name="matAccessibleForwardOutline"></ng-icon>
        <div class="bar">
          <div class="bar-fill"></div>
        </div>
        <ng-icon name="matAccessibleForwardOutline"></ng-icon>
      </div>
      <div class="box-row">
        <small>Votes</small>
        <small>
          {{ selectedProposal.positiveValue }}
        </small>
      </div>
      <div class="box-row">
        <small>Balance</small>
        <small>
          {{ selectedProposal.positiveValue + selectedProposal.negativeValue }}
        </small>
      </div>
      <div class="box-row">
        <small>Ratio</small>
        <small>{{ 70 }}%</small>
      </div>
    </div>
    <div class="box">
      <h4>Status</h4>
      <div class="box-row">
        <small>Stage</small>
        <small>
          {{ selectedProposal.state }}
        </small>
      </div>
      <div *ngIf="selectedProposal.cost" class="box-row">
        <small>Cost</small>
        <small>
          {{ selectedProposal.cost }}
        </small>
      </div>
      <div class="box-row">
        <small>Comments</small>
        <small>
          {{ selectedProposal.numComments }}
        </small>
      </div>
      <div class="box-row">
        <small>Releases</small>
        <small>
          {{ selectedProposal.createdAt }}
        </small>
      </div>
    </div>
  </div>
</ng-container>
