<div
  class="horizontal-card hover-card"
  [routerLink]="[]"
  [relativeTo]="route"
  [queryParams]="proposal.selectedQueryParam"
  queryParamsHandling="merge"
>
  <img
    class="image"
    [ngSrc]="proposal.thumbnailUri"
    [width]="125"
    [height]="125"
    [priority]="true"
  />
  <div class="content">
    <div class="summary">
      <div class="header">
        <ng-container
          *ngIf="{ data: userService.authUser$ | async } as authUser"
        >
          <h5>
            {{ proposal.getCurrentTitle(authUser.data) }}
          </h5>
        </ng-container>
        <div class="inset-vertical-divider"></div>
        <p>
          {{ proposal.user.nickname }}
        </p>
        <div class="inset-vertical-divider"></div>
        <p>
          {{ proposal.formattedLastImportantDate }}
        </p>
        <div *ngIf="proposal.isSelectedForDevelopment" class="tag tag-orange">
          <p>On hold</p>
        </div>
        <div *ngIf="proposal.isInDevelopment" class="tag tag-green">
          <p>In development</p>
        </div>
        <div *ngIf="proposal.isLastCall" class="tag tag-red">
          <p>Last call</p>
        </div>
        <ng-container *ngIf="userService.authUser$ | async as authUser">
          <div
            *ngIf="
              proposal.isPendingSpecification &&
              authUser.id === proposal.user.id
            "
            class="tag tag-blue"
          >
            <p>Selected</p>
          </div>
        </ng-container>
        <div *ngFor="let tag of proposal.categories" class="tag tag-black">
          <p>
            {{ tag.charAt(0).toUpperCase() + tag.slice(1).toLowerCase() }}
          </p>
        </div>
      </div>
      <ng-container *ngIf="{ data: userService.authUser$ | async } as authUser">
        <p class="description">
          {{ proposal.getCurrentDescription(authUser.data) }}
        </p>
      </ng-container>
    </div>
    <div class="full-vertical-divider inset-vertical-divider-mod"></div>

    <div class="scores">
      <div
        *ngIf="!proposal.isSelectedForDevelopment && !proposal.isInDevelopment"
        class="score-row"
      >
        <p class="p-score-text">{{ proposal.positiveRatio }}%</p>
        <h4 class="score-icon-container">A</h4>
      </div>
      <div
        *ngIf="!proposal.isSelectedForDevelopment && !proposal.isInDevelopment"
        class="score-row"
      >
        <p class="p-score-text">
          {{ proposal.prettyTotalValue }}
        </p>
        <h4 class="score-icon-container">B</h4>
      </div>
      <div
        *ngIf="proposal.isSelectedForDevelopment || proposal.isInDevelopment"
        class="score-row"
      >
        <p class="p-score-text">
          {{ proposal.prettyImportance }}
        </p>
        <h4 class="score-icon-container">C</h4>
      </div>
      <div *ngIf="proposal.cost" class="score-row">
        <p class="p-score-text">{{ proposal.prettyCost }}</p>
        <img
          class="score-icon-container"
          src="../../../../assets/icons/euro.svg"
        />
      </div>
    </div>
  </div>
</div>
