<div
  class="wrapper"
  [routerLink]="[]"
  [relativeTo]="route"
  [queryParams]="buildSelectedQueryParam()"
  queryParamsHandling="merge"
>
  <div class="thumbnail"></div>
  <div class="content">
    <div class="summary">
      <div class="header">
        <h3>
          {{ proposal.initialTitle }}
        </h3>
        <div class="vertical-divider"></div>
        <p>
          {{ proposal.user.nickname }}
        </p>
        <div class="vertical-divider"></div>
        <small>
          {{ proposal.createdAt }}
        </small>
        <div *ngIf="isSelectedForDevelopment" class="tag">
          <small>ON HOLD</small>
        </div>
        <div *ngIf="isInDevelopment" class="tag">
          <small>IN DEVELOPMENT</small>
        </div>
        <div *ngIf="isLastCall" class="tag">
          <small>LAST CALL</small>
        </div>
        <div *ngIf="isPendingSpecification" class="tag">
          <small>SELECTED</small>
        </div>
        <div *ngFor="let tag of proposal.categories" class="tag">
          <small>
            {{ tag }}
          </small>
        </div>
      </div>
      <p class="description">
        {{ proposal.initialDescription }}
      </p>
    </div>
    <div class="vertical-divider"></div>
  </div>
  <div class="scores">
    <p *ngIf="!isInBacklog">{{ positiveRatio }}%</p>
    <p *ngIf="!isInBacklog">
      {{ totalValue }}
    </p>
    <p *ngIf="isInBacklog">{{ importanceTag }}</p>
    <p *ngIf="proposal.cost">{{ proposal.cost }}</p>
  </div>
</div>
