@import '../../../custom-theme.scss';

mat-toolbar {
  height: $footerHeight;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: max(calc((100vw - $maxScreenWidth) / 2), 16px);
  padding-right: max(calc((100vw - $maxScreenWidth) / 2), 16px);
}

a {
  text-decoration: none;
}

.no-margin {
  margin: 0 0 0;
}
