@import '../../../custom-theme.scss';

mat-toolbar {
  height: $footerHeight;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
}

.no-margin {
  margin: 0 0 0;
}
