<div class="wrapper">
  <h3>{{ poll.label }}</h3>
  <div class="button-row">
    <button class="vote-button" (click)="onVoteClick(true)">Yes</button>
    <button class="vote-button" (click)="onVoteClick(null)">Skip</button>
    <button class="vote-button" (click)="onVoteClick(false)">No</button>
  </div>
  <div>
    <div class="bar-info">
      <small>Yes</small>
      <small>{{ poll.positiveValue }}</small>
    </div>
    <div class="bar">
      <div class="bar-fill success-background"></div>
    </div>
  </div>
  <div>
    <div class="bar-info">
      <small>Skip</small>
      <small>{{ poll.nullValue }}</small>
    </div>
    <div class="bar">
      <div class="bar-fill warning-background"></div>
    </div>
  </div>
  <div>
    <div class="bar-info">
      <small>No</small>
      <small>{{ poll.negativeValue }}</small>
    </div>
    <div class="bar">
      <div class="bar-fill error-background"></div>
    </div>
  </div>
</div>
