<div class="wrapper">
  <div class="left-panel">
    <div class="left-panel-content"></div>
    <div class="full-vertical-divider"></div>
  </div>
  <div class="central-frame">
    <div class="central-frame-content">
      <div class="requests-content">
        <h1 class="central-text">
          This game is not currently active. Send them a request to join Runa!
        </h1>
        <button
          class="button-base button-base-blue request-button"
          type="submit"
        >
          Send request
        </button>
      </div>
    </div>
  </div>
  <div class="right-panel">
    <div class="full-vertical-divider"></div>
    <div class="right-panel-content"></div>
  </div>
</div>
