<ng-container *ngIf="state$ | async as state">
  <div class="central-frame-content">
    <div class="central-frame-content-header">
      <div
        *ngIf="sectionOptions"
        class="dropdown"
        (click)="toggleSectionDropdown()"
      >
        <div class="dropdown-button-section">
          <h5>{{ sectionOptions[state.selectedSection] }}</h5>
          <img src="../../../../assets/icons/dropdown.svg" />
        </div>
        <div
          class="dropdown-base"
          [style.display]="state.isSectionDropdownOpen ? undefined : 'none'"
        >
          <div
            *ngFor="let option of sectionOptions; let i = index"
            class="dropdown-option hover-card"
            (click)="onSectionChange(i)"
          >
            <h5 class="dropdown-option-text">
              {{ option }}
            </h5>
          </div>
        </div>
      </div>
      <dipnoi-params
        (onParamsUpdated)="handleOnParamsUpdated($event)"
        [filterOptions]="filterOptions"
        [orderOptions]="orderOptions"
        [defaultFilter]="4"
        [defaultOrder]="0"
      ></dipnoi-params>
    </div>
    <div class="list-wrapper" #infiniteScrollContainerRef>
      <dipnoi-proposal-list
        [infiniteScrollContainerRef]="infiniteScrollContainerRef"
        [params]="state.params"
      ></dipnoi-proposal-list>
    </div>
    <div class="surface-fade-bottom wrapper-fade-fix"></div>
  </div>
</ng-container>
