<ng-container *ngIf="state$ | async as state">
  <ngx-spinner
    *ngIf="state.isReloading"
    name="proposal-section-list"
    bdColor="transparent"
    [fullScreen]="false"
    size="large"
    type="ball-scale-multiple"
  ></ngx-spinner>
  <ng-container *ngIf="proposalService.proposals$ | async as proposals">
    <div
      *ngIf="!state.isReloading"
      class="wrapper"
      infiniteScroll
      insufficientItems
      [existingItems]="proposals.length"
      [containerRef]="infiniteScrollContainerRef"
      (loadMoreItems)="onScrollEnd()"
      [scrollWindow]="false"
      (scrolled)="onScrollEnd()"
      [infiniteScrollContainer]="infiniteScrollContainerRef"
      [fromRoot]="true"
      [infiniteScrollDistance]="1"
    >
      <dipnoi-proposal-section-card
        *ngFor="let proposal of proposals; let i = index; trackBy: trackById"
        [proposal]="proposal"
        [previousProposal]="proposals[i - 1]"
      ></dipnoi-proposal-section-card>
    </div>
  </ng-container>
</ng-container>
