<div class="app-header">
  <div class="app-header-content">
    <div class="logo-container">
      <div class="logo" [routerLink]="libraryItem.path">
        <div class="image-container">
          <img src="../../../assets/icons/logo-icon.png" />
        </div>
        <div class="runic">
          <div class="runic-line">Runa</div>
          <div class="runic-line">Forge</div>
        </div>
      </div>
    </div>
    <dipnoi-main-navigation></dipnoi-main-navigation>
    <dipnoi-auth-info></dipnoi-auth-info>
  </div>
  <div class="full-horizontal-divider"></div>
</div>
