<div class="app-header">
  <div class="app-header-content">
    <div class="logo">
      <img src="../../../assets/icons/Full Logo2.png" />
    </div>
    <div class="navigation">
      <div
        class="library-button hover-surface"
        [routerLink]="libraryItem.path"
        routerLinkActive="selection-surface"
      >
        <h2>{{ libraryItem.title }}</h2>
      </div>
      <div class="full-vertical-divider"></div>
      <div class="game-icon"></div>
      <div class="add-button"></div>
    </div>
    <dipnoi-auth-info></dipnoi-auth-info>
  </div>
  <div class="full-horizontal-divider"></div>
</div>
