@import '../../../custom-theme.scss';

mat-toolbar {
  height: $headerHeight;
  justify-content: space-between;
  padding-left: max(calc((100vw - $maxScreenWidth) / 2), 16px);
  padding-right: max(calc((100vw - $maxScreenWidth) / 2), 16px);
}

.invisible {
  visibility: hidden;
}
