@import '../../../styles.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  height: $headerHeight;
}

.content {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: max(calc((100vw - $maxScreenWidth) / 2), 16px);
  padding-right: max(calc((100vw - $maxScreenWidth) / 2), 16px);
}
