:host {
  width: 100%;
  height: 100%;
}

.wrapper-fade-fix {
  right: 15px;
}

.central-frame-content-header {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  height: fit-content;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0px 30px;
}
