<div class="central-frame-content">
  <div class="central-frame-content-header"></div>

  <div class="comment">
    <div class="first-row">
      <p>Open proposals</p>
      <p>·</p>
      <p>Eric de leche</p>
    </div>
    <div class="second-row">
      <p>Reply to Pablo Crack</p>
      <p>·</p>
      <p>2 years</p>
    </div>
    <p class="description">
      Pollo al horno Pollo al horno Pollo al horno Pollo al horno Pollo al horno
      Pollo al horno Pollo al horno Pollo al horno Pollo al horno Pollo al horno
      Pollo al horno Pollo al horno Pollo al horno Pollo al horno Pollo al horno
      Pollo al horno Pollo al horno Pollo al horno Pollo al horno Pollo al horno
      Pollo al horno Pollo al horno Pollo al horno Pollo al horno Pollo al horno
      Pollo al horno Pollo al horno Pollo al horno Pollo al horno Pollo al horno
    </p>
  </div>

  <div class="surface-fade-bottom wrapper-fade-fix"></div>
</div>
