<ng-container *ngIf="state$ | async as state">
  <div class="dialog-content">
    <div class="header">
      <!-- 
      <img class="image" src="../../../assets/icons/Logo1.png" />
      -->
      <h3>Sign in</h3>
    </div>
    <form class="main-content" [formGroup]="signInForm" (ngSubmit)="onSignIn()">
      <div class="text-field-container">
        <input
          class="text-field-base"
          type="text"
          formControlName="email"
          required
        />
        <p class="text-field-label">Email address</p>
      </div>

      <div class="text-field-container">
        <input
          class="text-field-base"
          [type]="state.hidePassword ? 'password' : 'text'"
          formControlName="password"
          required
        />
        <ng-icon
          class="suffix"
          (click)="onHidePassword()"
          [name]="
            state.hidePassword
              ? 'matVisibilityOffOutline'
              : 'matVisibilityOutline'
          "
        ></ng-icon>

        <p class="text-field-label">Password</p>
      </div>
      <button
        class="button-base button-base-blue"
        [disabled]="!signInForm.valid"
        type="submit"
      >
        <ngx-spinner
          *ngIf="state.isSignInLoading"
          [name]="'sign-in'"
          bdColor="transparent"
          [fullScreen]="false"
          size="small"
          type="ball-scale-multiple"
        ></ngx-spinner>
        {{ state.isSignInLoading ? '' : 'Sign in' }}
      </button>

      <div class="separation">
        <div class="full-horizontal-divider"></div>
        <h5 class="separation-text">OR</h5>
        <div class="full-horizontal-divider"></div>
      </div>
      <button class="button-base button-base-google" (click)="onGoogleSignIn()">
        <ngx-spinner
          *ngIf="state.isGoogleLoading"
          [name]="'google-sign-in'"
          bdColor="transparent"
          [fullScreen]="false"
          size="small"
          type="ball-scale-multiple"
        ></ngx-spinner>
        {{ state.isGoogleLoading ? '' : 'Sign in with Google' }}
      </button>
      <button
        class="button-base button-base-facebook"
        (click)="onFacebookSignIn()"
      >
        <ngx-spinner
          *ngIf="state.isFacebookLoading"
          [name]="'facebook-sign-in'"
          bdColor="transparent"
          [fullScreen]="false"
          size="small"
          type="ball-scale-multiple"
        ></ngx-spinner>
        {{ state.isFacebookLoading ? '' : 'Sign in with Facebook' }}
      </button>
    </form>
    <div class="links">
      <p>
        Check out our
        <span class="hyperlink">Terms of Service</span>
        and
        <span class="hyperlink">Privacy Policy</span>
      </p>
      <p>
        <span
          class="hyperlink"
          [routerLink]="[]"
          [relativeTo]="route"
          [queryParams]="forgotPasswordQueryParam"
          queryParamsHandling="merge"
        >
          Can't sign in?
        </span>
        ·
        <span
          class="hyperlink"
          [routerLink]="[]"
          [relativeTo]="route"
          [queryParams]="signUpQueryParam"
          queryParamsHandling="merge"
        >
          Create an account
        </span>
      </p>
    </div>
  </div>
</ng-container>
