<ng-container *ngIf="state$ | async as state">
  <form [formGroup]="signInForm" (ngSubmit)="onSignIn()">
    <div>
      <label [htmlFor]="email">Email</label>
      <input type="email" formControlName="email" #email />
    </div>
    <div>
      <label [htmlFor]="password">Password</label>
      <input
        [type]="state.hidePassword ? 'password' : 'text'"
        formControlName="password"
        #password
      />
      <ng-icon
        (click)="onHidePassword()"
        [name]="
          state.hidePassword
            ? 'matVisibilityOffOutline'
            : 'matVisibilityOutline'
        "
      ></ng-icon>
    </div>
    <button [disabled]="!signInForm.valid" type="submit">Sign in</button>
    <p *ngIf="state.hasErrored" class="error feedback">Invalid credentials</p>
  </form>
</ng-container>
