@import '../../../custom-theme.scss';

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: $sidenavWidth;
}

.selected {
  border-right: 4px solid $primary;
  border-radius: 4px;
}

.not-selected {
  opacity: 0.6;
}
