<div class="wrapper">
  <div class="left-panel">
    <div class="left-panel-content">
      <dipnoi-side-navigation></dipnoi-side-navigation>
      <div class="full-horizontal-divider"></div>
      <div class="footer">
        <p>{{ 'Check out our Terms of Service and Privacy Policy' }}</p>
      </div>
    </div>
    <div class="full-vertical-divider"></div>
  </div>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
  <div class="right-panel">
    <div class="full-vertical-divider"></div>
    <div class="right-panel-content"></div>
  </div>
</div>
