<mat-sidenav-container>
  <mat-sidenav mode="side" opened="true">
    <mat-nav-list disableRipple="true">
      <a
        mat-list-item
        routerLink="/proposals/bla"
        [activated]="router.isActive('/proposals/bla', false)"
        [ngClass]="
          router.isActive('/proposals/bla', false) ? 'selected' : 'not-selected'
        "
      >
        Bla
      </a>
      <a
        mat-list-item
        routerLink="/proposals/blabla"
        [activated]="router.isActive('/proposals/blabla', false)"
        [ngClass]="
          router.isActive('/proposals/blabla', false)
            ? 'selected'
            : 'not-selected'
        "
      >
        BlaBla
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
