.wrapper {
  width: 60vw;
  height: 80vh;
  background-color: grey;
  display: flex;
}

.content {
  margin: 7px;
  margin-right: 20px;
  padding-right: 20px;
  flex-grow: 1;
  overflow-y: scroll;
}

.poll-section {
  display: flex;
  justify-content: space-around;
  overflow-wrap: break-word;
  flex-wrap: wrap;
}

.stats {
  overflow-y: scroll;
  margin: 7px;
  padding: 69px 13px 0px 0px;
}
