<ng-container *ngIf="state$ | async as state">
  <ng-container
    *ngIf="proposalService.selectedProposal$ | async as selectedProposal"
  >
    <div class="wrapper">
      <div class="content" #infiniteScrollContainerRef>
        <div class="header">
          <h1>{{ selectedProposal.initialTitle }}</h1>
          <ng-icon name="matChatOutline"></ng-icon>
          <ng-icon name="matStarOutlineOutline"></ng-icon>
          <div *ngIf="isPendingReview">Accept</div>
          <div *ngIf="isPendingReview">Request edit</div>
          <div *ngIf="isPendingReview">Deny</div>
          <div *ngIf="isLastCall">Return to open</div>
          <div *ngIf="isOpen">Last call</div>
          <div *ngIf="isLastCall">Select for development</div>
          <div *ngIf="isSelectedForDevelopment">Start development</div>
          <div *ngIf="isInDevelopment">Complete</div>
        </div>
        <div *ngIf="state.changingTo">
          <input type="text" class="edit-box" />
          <div class="actions">
            <div>Cancel</div>
            <div>Submit</div>
          </div>
        </div>
        <div [innerHTML]="selectedProposal.initialDescription"></div>
        <div class="horizontal-divider"></div>
        <ng-container *ngIf="pollService.polls$ | async as polls">
          <div class="poll-section">
            <dipnoi-poll *ngFor="let poll of polls" [poll]="poll"></dipnoi-poll>
          </div>
        </ng-container>
        <div class="horizontal-divider"></div>
        <dipnoi-comment-list
          [infiniteScrollContainerRef]="infiniteScrollContainerRef"
          [proposalId]="proposalId"
        ></dipnoi-comment-list>
      </div>
      <div class="stats">
        <dipnoi-proposal-stats></dipnoi-proposal-stats>
      </div>
    </div>
  </ng-container>
</ng-container>
