<ng-container *ngIf="state$ | async as state">
  <div class="wrapper">
    <div class="content" #infiniteScrollContainerRef>
      <div *ngIf="state.proposal">
        <h1>{{ state.proposal.initialTitle }}</h1>
        <div [innerHTML]="state.proposal.initialDescription"></div>
      </div>
      <div class="horizontal-divider"></div>
      <div class="poll-section">
        <dipnoi-poll
          *ngFor="let poll of state.polls"
          [poll]="poll"
        ></dipnoi-poll>
      </div>
      <div class="horizontal-divider"></div>
      <dipnoi-comment-list
        [infiniteScrollContainerRef]="infiniteScrollContainerRef"
        [proposalId]="proposalId"
      ></dipnoi-comment-list>
    </div>
    <div class="stats">
      <div class="box">
        <h4>Details</h4>
        <div class="box-row">
          <small>Title</small>
          <small *ngIf="state.proposal">
            {{ state.proposal.initialTitle }}
          </small>
        </div>
        <div class="box-row">
          <small>Author</small>
          <small *ngIf="state.proposal">
            {{ state.proposal.user.nickname }}
          </small>
        </div>
        <div class="box-row">
          <small>Labels</small>
          <small *ngIf="state.proposal">
            {{ state.proposal.categories[0] }}
          </small>
        </div>
      </div>
      <div class="box">
        <h4>Backing</h4>
        <div class="box-row">
          <ng-icon name="matAccessibleForwardOutline"></ng-icon>
          <div class="bar">
            <div class="bar-fill"></div>
          </div>
          <ng-icon name="matAccessibleForwardOutline"></ng-icon>
        </div>
        <div class="box-row">
          <small>Votes</small>
          <small *ngIf="state.proposal">
            {{ state.proposal.positiveValue }}
          </small>
        </div>
        <div class="box-row">
          <small>Balance</small>
          <small *ngIf="state.proposal">
            {{ state.proposal.positiveValue + state.proposal.negativeValue }}
          </small>
        </div>
        <div class="box-row">
          <small>Ratio</small>
          <small *ngIf="state.proposal">{{ 70 }}%</small>
        </div>
      </div>
      <div class="box">
        <h4>Status</h4>
        <div class="box-row">
          <small>Stage</small>
          <small *ngIf="state.proposal">
            {{ state.proposal.state }}
          </small>
        </div>
        <div class="box-row">
          <small>Comments</small>
          <small *ngIf="state.proposal">
            {{ state.proposal.numComments }}
          </small>
        </div>
        <div class="box-row">
          <small>Releases</small>
          <small *ngIf="state.proposal">
            {{ state.proposal.createdAt }}
          </small>
        </div>
      </div>
    </div>
  </div>
</ng-container>
