@use '../../../../variables';
@use '../../../../layouts';
@use '../../../../components';

p {
  text-align: left;
}

.selection-surface p {
  font-weight: variables.$font-weight-bold;
}

.sidenav-element {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  width: calc(100% - 24px);
  height: 45px;
  margin-left: 12px;
  margin-right: 12px;
  padding-left: 18px;
  padding-right: 18px;
  gap: 12px;
  border-radius: 12px;
}

.p-adjustment {
  margin-bottom: -3px;
}

svg {
  fill: variables.$text;
}
