@use '../../../../variables';
@use '../../../../layouts';
@use '../../../../components';

.selection-surface p {
  font-weight: variables.$font-weight-bold;
}

.sidenav-element {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  width: calc(100% - 24px);
  height: 35px;
  margin-left: 12px;
  margin-right: 12px;
  padding-left: 18px;
  padding-right: 18px;
  gap: 12px;
  border-radius: 12px;
}

.sidenav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Set the height to match the width or adjust based on the aspect ratio */
  color: variables.$text;
}
