@use '../../../../variables';
@use '../../../../layouts';
@use '../../../../components';

p {
  color: variables.$text;
}

.sidenav-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 35px;
  padding-left: 30px;
  padding-right: 30px;
  gap: 12px;
}
