<ng-container *ngIf="state$ | async as state">
  <div class="dialog-content">
    <ng-container *ngIf="state.finished">
      <div class="header">
        <!--
  <img class="image" src="../../../assets/icons/Logo1.png" />
  -->
        <h3>Account activated</h3>
        <p>Success! Your account has been activated.</p>
      </div>
    </ng-container>
    <ng-container *ngIf="!state.finished">
      <div class="header">
        <!--
  <img class="image" src="../../../assets/icons/Logo1.png" />
  -->
        <h3>Choose a display name</h3>
        <p>
          Select a unique display name that other players will use to refer to
          you within the community.
        </p>
      </div>

      <form
        class="main-content"
        [formGroup]="activateForm"
        (ngSubmit)="onFinish()"
      >
        <div class="text-and-error">
          <div
            class="text-field-container"
            [ngClass]="{
              'text-field-error':
                activateForm.controls.nickname.dirty &&
                activateForm.controls.nickname.invalid &&
                !state.typing
            }"
          >
            <input
              class="text-field-base"
              type="text"
              formControlName="nickname"
              required
            />
            <p class="text-field-label">Display name</p>
            <ng-icon
              *ngIf="
                (activateForm.controls.nickname.dirty &&
                  activateForm.controls.nickname.pending) ||
                state.typing
              "
              class="suffix pending"
              name="matPendingOutline"
            ></ng-icon>
            <ng-icon
              *ngIf="
                activateForm.controls.nickname.dirty &&
                activateForm.controls.nickname.valid &&
                !state.typing
              "
              class="suffix done"
              name="matDoneOutline"
            ></ng-icon>
            <ng-icon
              *ngIf="
                activateForm.controls.nickname.dirty &&
                activateForm.controls.nickname.invalid &&
                !state.typing
              "
              class="suffix cross"
              name="matCloseOutline"
            ></ng-icon>

            <div class="tooltip-element">
              <ng-icon class="suffix" name="matInfoOutline"></ng-icon>
              <div class="tooltip-container">
                <ul>
                  <li><small>Must contain at least 8 characters</small></li>

                  <li>
                    <small>
                      Must contain at least one letter and one number
                    </small>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div
            *ngIf="activateForm.controls.nickname.dirty && !state.typing"
            class="error"
          >
            <small *ngIf="activateForm.controls.nickname.hasError('required')">
              Must not be empty
            </small>
            <small *ngIf="activateForm.controls.nickname.hasError('minlength')">
              Must contain at least 3 characters
            </small>
            <small
              *ngIf="
                activateForm.controls.nickname.hasError('maxlength') &&
                !activateForm.controls.nickname.hasError('minlength')
              "
            >
              Must not contain more than 15 characters
            </small>
            <small
              *ngIf="
                activateForm.controls.nickname.hasError('pattern') &&
                !activateForm.controls.nickname.hasError('minlength') &&
                !activateForm.controls.nickname.hasError('maxlength')
              "
            >
              Can only contain letters, numbers, hyphens and underscores
            </small>
            <small
              *ngIf="
                activateForm.controls.nickname.hasError('existingnickname') &&
                !activateForm.controls.nickname.hasError('minlength') &&
                !activateForm.controls.nickname.hasError('maxlength') &&
                !activateForm.controls.nickname.hasError('pattern')
              "
            >
              Display name not available
            </small>
          </div>
        </div>
        <button
          class="button-base button-base-blue"
          [disabled]="!activateForm.valid"
          type="submit"
        >
          <ngx-spinner
            *ngIf="state.isActivationLoading"
            [name]="'activation'"
            bdColor="transparent"
            [fullScreen]="false"
            size="small"
            type="ball-scale-multiple"
          ></ngx-spinner>
          {{ state.isActivationLoading ? '' : 'Finish' }}
        </button>

        <button
          class="button-base button-base-trans"
          [routerLink]="[]"
          [relativeTo]="route"
          [queryParams]="signUpQueryParam"
          queryParamsHandling="merge"
        >
          Back
        </button>
      </form>
    </ng-container>
  </div>
</ng-container>
