@use '../../../../variables';

.dialog-content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  gap: 30px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  height: fit-content;
  width: 100%;
  p {
    text-align: center;
  }
}

.image {
  width: 100px;
  height: 94px;
}

input:focus ~ .text-field-label,
input:valid ~ .text-field-label {
  top: -1px;
  height: 1px;
  font-size: variables.$font-size-xs;
}

.error {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: max-content;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 0px 12px;
  small {
    margin-top: 5px;
    color: variables.$red;
  }
}

.text-and-error {
  display: flex;
  width: 100%;
  height: fit-content;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
  align-items: center;
  gap: 20px;
}

.button-base {
  width: 100%;
  height: 50px;
  box-shadow: none;
}

.button-base-blue {
  background-color: variables.$blue-light;
  color: variables.$surface;
}

.button-base-google {
  background-color: #e6533a;
  color: #fff;
}

.button-base-facebook {
  background-color: #1976d2;
  color: #fff;
}

.suffix {
  display: flex;
  align-items: center;
  height: 100%;
  width: fit-content;
  flex-shrink: 0;
  flex-grow: 0;
  color: variables.$text-color;
}

.grow {
  flex-grow: 1;
  flex-shrink: 1;
}

.separation {
  display: flex;
  height: fit-content;
  width: 75%;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  h5 {
    color: variables.$outline-variant;
  }
}

.separation-text {
  width: fit-content;
  flex-grow: 0;
  flex-shrink: 0;
}

.full-horizontal-divider {
  flex-grow: 1;
  flex-shrink: 1;
}

.links {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  gap: 20px;
  p {
    color: variables.$outline;
    text-align: center;
  }
}
