<div class="dialog-content">
  <ng-container *ngIf="state$ | async as state">
    <ng-container *ngIf="state.finished">
      <div class="header">
        <img class="image" src="../../../assets/icons/Logo1.png" />
        <h3>Activate your account</h3>
        <p>
          Success! Your account has been created. To activate it, please click
          on the confirmation link we have sent to your email address.
        </p>
      </div>
    </ng-container>
    <ng-container *ngIf="!state.finished">
      <div class="header">
        <!-- 
        <img class="image" src="../../../assets/icons/Logo1.png" />
      -->
        <h3>Sign up</h3>
      </div>
      <form
        class="main-content"
        [formGroup]="signUpForm"
        (ngSubmit)="onSignUp()"
      >
        <div class="text-and-error">
          <div class="text-field-container">
            <input
              class="text-field-base"
              type="text"
              formControlName="email"
              required
            />
            <p class="text-field-label">Email address</p>
          </div>
          <div class="error">
            <small
              *ngIf="
                signUpForm.controls.email.hasError('required') &&
                signUpForm.controls.email.touched
              "
            >
              Must not be empty
            </small>
            <small
              *ngIf="
                signUpForm.controls.email.hasError('pattern') &&
                signUpForm.controls.email.touched
              "
            >
              Must be a valid email
            </small>
          </div>
        </div>
        <div class="text-and-error">
          <div class="text-field-container grow">
            <input
              class="text-field-base"
              [type]="state.hidePassword ? 'password' : 'text'"
              formControlName="password"
              required
            />
            <p class="text-field-label">Password</p>
            <ng-icon
              class="suffix"
              (click)="onHidePassword()"
              [name]="
                state.hidePassword
                  ? 'matVisibilityOffOutline'
                  : 'matVisibilityOutline'
              "
            ></ng-icon>
          </div>
          <div class="error">
            <small
              *ngIf="
                signUpForm.controls.password.hasError('required') &&
                signUpForm.controls.password.touched
              "
            >
              Must not be empty
            </small>
            <small
              *ngIf="
                signUpForm.controls.password.hasError('pattern') &&
                signUpForm.controls.password.touched
              "
            >
              Must contain at least one special character
            </small>
          </div>
        </div>
        <!-- 
        <re-captcha
          class="row"
          formControlName="recaptchaResponse"
        ></re-captcha>
-->
        <button
          class="button-base button-base-blue"
          [disabled]="!signUpForm.valid"
          type="submit"
        >
          Continue
        </button>

        <div class="separation">
          <div class="full-horizontal-divider"></div>
          <h5 class="separation-text">OR</h5>
          <div class="full-horizontal-divider"></div>
        </div>

        <button
          class="button-base button-base-google"
          (click)="onGoogleSignUp()"
        >
          Sign up with Google
        </button>
        <button
          class="button-base button-base-facebook"
          (click)="onFacebookSignUp()"
        >
          Sign up with Facebook
        </button>
      </form>

      <div class="links">
        <p>
          By continuing I acknowledge that I have read and agree to the
          <span class="hyperlink">Terms of Service</span>
          and
          <span class="hyperlink">Privacy Policy</span>
        </p>
        <p
          [routerLink]="[]"
          [relativeTo]="route"
          [queryParams]="signInQueryParam"
          queryParamsHandling="merge"
        >
          Already have an account?
          <span class="hyperlink">Sign in</span>
        </p>
      </div>
    </ng-container>
  </ng-container>
</div>
