<form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>Email</mat-label>
    <input type="email" formControlName="email" matInput />
    <mat-error *ngIf="signUpForm.controls.email.hasError('required')">
      <br />
      Must not be empty
    </mat-error>
    <mat-error *ngIf="signUpForm.controls.email.hasError('pattern')">
      <br />
      Must be a valid email
    </mat-error>
  </mat-form-field>
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>Password</mat-label>
    <input
      [type]="hidePassword ? 'password' : 'text'"
      formControlName="password"
      matInput
      #passwordInput="matInput"
    />
    <button
      type="button"
      mat-icon-button
      matSuffix
      (click)="hidePassword = !hidePassword"
    >
      <mat-icon
        [color]="
          signUpForm.controls.password.invalid &&
          signUpForm.controls.password.touched
            ? 'warn'
            : passwordInput.focused
              ? 'primary'
              : ''
        "
      >
        {{ hidePassword ? 'visibility_off' : 'visibility' }}
      </mat-icon>
    </button>
    <mat-hint *ngIf="signUpForm.controls.password.untouched">
      <br />
      Must contain at least 8 characters
      <br />
      Must contain at least one lowercase letter
      <br />
      Must contain at least one uppercase letter
      <br />
      Must contain at least one number
      <br />
      Must contain at least one special character
    </mat-hint>
    <mat-error *ngIf="signUpForm.controls.password.hasError('required')">
      <br />
      Must not be empty
    </mat-error>
    <mat-error *ngIf="signUpForm.controls.password.hasError('pattern')">
      <br />
      Must contain at least 8 characters
      <br />
      Must contain at least one lowercase letter
      <br />
      Must contain at least one uppercase letter
      <br />
      Must contain at least one number
      <br />
      Must contain at least one special character
    </mat-error>
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    [disabled]="!signUpForm.valid"
    type="submit"
  >
    Sign up
  </button>
  <p class="error feedback" *ngIf="hasErrored">Something wrong happened</p>
</form>
