<ng-container *ngIf="state$ | async as state">
  <div class="creation-container">
    <div class="avatar"></div>
    <div>
      <input type="text" placeholder="Add a comment..." />
    </div>
  </div>
  <ng-container *ngIf="commentService.comments$ | async as comments">
    <div
      class="wrapper"
      infiniteScroll
      insufficientItems
      [existingItems]="comments.length"
      [containerRef]="infiniteScrollContainerRef"
      (loadMoreItems)="onScrollEnd()"
      [scrollWindow]="false"
      (scrolled)="onScrollEnd()"
      [infiniteScrollContainer]="infiniteScrollContainerRef"
      [fromRoot]="true"
      [infiniteScrollDistance]="0"
    >
      <div *ngFor="let comment of comments">
        <dipnoi-comment [comment]="comment"></dipnoi-comment>
      </div>
    </div>
  </ng-container>
</ng-container>
