<ng-container *ngIf="state$ | async as state">
  <div
    *ngIf="createCommentForm.controls.commentToCreate"
    class="creation-container"
  >
    <ng-container *ngIf="userService.authUser$ | async as authUser">
      <img
        class="avatar"
        [ngSrc]="authUser.avatarUri"
        [width]="40"
        [height]="40"
        [priority]="true"
      />
    </ng-container>
    <div class="avatar"></div>
    <form [formGroup]="createCommentForm" (ngSubmit)="onSubmit()">
      <div>
        <label [htmlFor]="commentToCreate">Add a comment</label>
        <input
          type="text"
          class="create-comment-box"
          formControlName="commentToCreate"
          #commentToCreate
        />
      </div>
      <div *ngIf="createCommentForm.valid" class="actions">
        <div (click)="onCancel()">Cancel</div>
        <button [disabled]="!createCommentForm.valid" type="submit">
          Submit
        </button>
      </div>
    </form>
  </div>
  <ng-container *ngIf="commentService.comments$ | async as comments">
    <div
      class="wrapper"
      infiniteScroll
      insufficientItems
      [existingItems]="comments.length"
      [containerRef]="infiniteScrollContainerRef"
      (loadMoreItems)="onScrollEnd()"
      [scrollWindow]="false"
      (scrolled)="onScrollEnd()"
      [infiniteScrollContainer]="infiniteScrollContainerRef"
      [fromRoot]="true"
      [infiniteScrollDistance]="1"
    >
      <div *ngFor="let comment of comments">
        <dipnoi-comment [comment]="comment"></dipnoi-comment>
      </div>
    </div>
  </ng-container>
</ng-container>
