<div class="wrapper">
  <img
    class="avatar"
    [ngSrc]="comment.user.avatarUri"
    [width]="40"
    [height]="40"
    [priority]="true"
  />
  <div class="info-container">
    <div class="header">
      <h3>{{ comment.user.nickname }}</h3>
      <small>{{ comment.createdAt }}</small>
    </div>
    <p>{{ comment.body }}</p>
    <div class="feedback-info">
      <ng-icon name="matThumbUpOutline" (click)="onVote(true)"></ng-icon>
      <small>{{ comment.positiveValue }}</small>
      <ng-icon name="matThumbDownOutline" (click)="onVote(false)"></ng-icon>
    </div>
  </div>
</div>
