<div class="poll">
  <h5>{{ poll.label }}</h5>
  <div class="button-row">
    <ng-container *ngIf="{ data: userService.authUser$ | async } as authUser">
      <div
        class="button-base left"
        (click)="onVote(true)"
        [ngClass]="{ disabled: !authUser.data?.active }"
      >
        <p class="button-label">Yes</p>
      </div>
      <div
        class="button-base center"
        (click)="onVote(null)"
        [ngClass]="{ disabled: !authUser.data?.active }"
      >
        <p class="button-label">Skip</p>
      </div>
      <div
        class="button-base right"
        (click)="onVote(false)"
        [ngClass]="{ disabled: !authUser.data?.active }"
      >
        <p class="button-label">No</p>
      </div>
    </ng-container>
  </div>
  <div class="bar-container">
    <div class="bar-info">
      <small>Yes</small>
      <small>{{ poll.positiveValue }}</small>
    </div>
    <div class="bar">
      <div
        class="bar-fill success-background"
        [ngStyle]="{ width: poll.positiveRatio + '%' }"
      ></div>
    </div>
  </div>
  <div class="bar-container">
    <div class="bar-info">
      <small>Skip</small>
      <small>{{ poll.nullValue }}</small>
    </div>
    <div class="bar">
      <div
        class="bar-fill warning-background"
        [ngStyle]="{ width: poll.nullRatio + '%' }"
      ></div>
    </div>
  </div>
  <div class="bar-container">
    <div class="bar-info">
      <small>No</small>
      <small>{{ poll.negativeValue }}</small>
    </div>
    <div class="bar">
      <div
        class="bar-fill error-background"
        [ngStyle]="{ width: poll.negativeRatio + '%' }"
      ></div>
    </div>
  </div>
</div>
