:host {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  justify-content: end;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.text-field {
  flex-grow: 1;
  flex-shrink: 0;
}
