<div class="dialog">
  <div class="dialog-main-container">
    <div class="dialog-main-content">
      <div
        class="main-content-scrollable-container"
        #infiniteScrollContainerRef
      >
        <ng-container
          *ngIf="proposalService.selectedProposal$ | async as selectedProposal"
        >
          <dipnoi-proposal-content
            [commentSectionRef]="commentSection"
            [proposal]="selectedProposal"
          ></dipnoi-proposal-content>
          <ng-container
            *ngIf="
              selectedProposal.isInitialPhase ||
              selectedProposal.isPendingSpecification ||
              selectedProposal.isPendingReview
            "
          >
            <ng-container *ngIf="pollService.polls$ | async as polls">
              <div class="poll-section">
                <dipnoi-poll
                  *ngFor="let poll of polls; trackBy: trackById"
                  [poll]="poll"
                ></dipnoi-poll>
              </div>
            </ng-container>
          </ng-container>
          <div class="inset-horizontal-divider"></div>
          <h2 #commentSection>Comments ({{ selectedProposal.numComments }})</h2>
        </ng-container>
        <dipnoi-comment-list
          [infiniteScrollContainerRef]="infiniteScrollContainerRef"
        ></dipnoi-comment-list>
      </div>
      <div class="surface-fade-bottom fade-fix"></div>
    </div>
    <div class="dialog-side-panel">
      <div
        class="main-content-scrollable-container"
        #infiniteScrollContainerRef
      >
        <ng-container
          *ngIf="proposalService.selectedProposal$ | async as selectedProposal"
        >
          <dipnoi-proposal-stats
            [proposal]="selectedProposal"
          ></dipnoi-proposal-stats>
        </ng-container>
      </div>
      <div class="surface-fade-bottom fade-fix"></div>
    </div>
  </div>
</div>
