<div
  class="wrapper"
  infiniteScroll
  insufficientItems
  [existingItems]="(proposalService.proposalsList | async)!.length"
  [containerRef]="infiniteScrollContainerRef"
  (loadMoreItems)="onScrollEnd()"
  [scrollWindow]="false"
  (scrolled)="onScrollEnd()"
  [infiniteScrollContainer]="infiniteScrollContainerRef"
  [fromRoot]="true"
  [infiniteScrollDistance]="0"
>
  <dipnoi-proposal-card
    *ngFor="let proposal of proposalService.proposalsList | async"
    [proposal]="proposal"
  ></dipnoi-proposal-card>
</div>
