@use '../../../../variables';
.wrapper {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  gap: 15px;
  padding-right: 30px;
}

.thumbnail {
  width: 100%;
  max-height: 296px;
}

.post-information {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  flex-direction: column;
  gap: 5px;
}

.p-color {
  color: variables.$outline;
}
