@use '../../../../variables';
.wrapper {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  gap: 15px;
  padding-right: 30px;
  height: 100%;
  width: 100%;
}

.thumbnail {
  width: 100%;
  aspect-ratio: 4 / 2;
  border-radius: variables.$border-radius-base;
}

.post-information {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  flex-direction: column;
  gap: 5px;
}

.description {
  flex-grow: 1;
  height: 1px;
  width: 100%;
  overflow: hidden;
}

.p-color {
  color: variables.$outline;
}
