<div class="wrapper">
  <img class="thumbnail" [src]="post.thumbnailUri" />
  <div class="post-information">
    <h3>{{ post.title }}</h3>
    <p class="p-color">{{ post.formattedCreatedAt }}</p>
  </div>

  <p class="description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mattis, enim
    sed aliquam porta, nulla dolor suscipit felis, ac consequat felis enim at
    mauris. Nullam tristique nisl ac purus porta, non semper mi auctor. Nam
    dictum nisl nisl, sed aliquet arcu sagittis non. Aliquam sit amet purus
    sapien. Nunc consequat imperdiet lacus vel tempus. Curabitur sem nisi,
    luctus eu facilisis et, vulputate id libero. Aliquam fringilla, risus non
    auctor ultrices, libero tellus dapibus elit, nec ultrices justo nisl eget
    ex. Nunc ut eros ac libero porttitor convallis. Donec non pulvinar odio.
    Nunc auctor est at vehicula cursus. Maecenas et tellus vel purus facilisis
    porta sed et arcu. Praesent molestie velit nec elit luctus, quis blandit
    enim suscipit. Phasellus pharetra pellentesque velit, eget iaculis metus
    aliquam eget. Phasellus quis pellentesque dui. Nam enim libero, laoreet et
    aliquet sagittis, volutpat in mi. Nam pulvinar vel diam eu malesuada. Donec
    elementum egestas odio, at bibendum lectus semper sed. Suspendisse potenti.
    Integer id eros sit amet sapien blandit volutpat eget id felis. Donec sem
    orci, pulvinar sit amet ultrices at, cursus eget arcu. Nulla tempus metus et
    neque feugiat maximus. Pellentesque id magna sit amet neque iaculis
    scelerisque sit amet eget risus. Fusce nec ante vitae arcu euismod maximus.
    In a ullamcorper nisi, at tincidunt mi. Donec malesuada nibh sit amet
    vehicula pharetra. Duis eget odio rhoncus, facilisis dolor ac, tincidunt
    magna.
  </p>
</div>
