<ng-container *ngIf="state$ | async as state">
  <ng-container
    *ngIf="userService.authUser$ | async as authUser; else elseAuthUser"
  >
    <div class="dropdown" (click)="toggleDropdown()">
      <div class="dropdown-button hover-card">
        <ng-icon name="matAccountCircleOutline"></ng-icon>
      </div>
      <div
        class="dropdown-base"
        [style.display]="state.isDropdownOpen ? 'block' : 'none'"
      >
        <div
          class="dropdown-option hover-card"
          *ngFor="let item of navigationItems"
          [routerLink]="item.path"
        >
          <p class="dropwdown-option-text">{{ item.title }}</p>
        </div>
        <div class="dropdown-option hover-card" (click)="onSignOut()">
          <p class="dropwdown-option-text">Sign out</p>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #elseAuthUser>
    <div
      class="button-base button-base-blue"
      [routerLink]="[]"
      [relativeTo]="route"
      [queryParams]="signInQueryParam"
      queryParamsHandling="merge"
    >
      Sign in
    </div>
  </ng-template>
</ng-container>
