<div
  class="vertical-card"
  [routerLink]="[]"
  [relativeTo]="route"
  [queryParams]="proposal.selectedQueryParam"
  queryParamsHandling="merge"
>
  <img
    [ngSrc]="proposal.thumbnailUri"
    [width]="302"
    [height]="302"
    [priority]="true"
  />
  <div class="content">
    <h3>{{ proposal.getCurrentTitle(null) }}</h3>

    <div class="footer">
      <div class="full-horizontal-divider"></div>
      <p class="bold">{{ proposal.user.nickname }}</p>
      <img
        class="avatar"
        [ngSrc]="proposal.user.avatarUri"
        [width]="33"
        [height]="33"
        [priority]="true"
      />
    </div>
  </div>
</div>
