@use '../../../../mixins';
@use '../../../../variables';

.avatar {
  border-radius: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-grow: 1;
}

.description {
  flex-grow: 1;
  @include mixins.text-truncate;
}

.h3 {
  height: fit-content;
  max-height: calc(variables.$font-line-height-lg + variables.$font-size-xl);
  @include mixins.text-truncate;
  flex-shrink: 0;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.small {
  width: fit-content;
  flex-shrink: 0;
}

.full-width-divider {
  flex-grow: 1;
}
