.wrapper {
  cursor: pointer;
  background-color: grey;
  display: flex;
  flex-direction: column;
  height: 556px;
  padding: 30px;
  gap: 15px;
}

.avatar {
  border-radius: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-grow: 1;
}

.description {
  flex-grow: 1;
}

.footer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.line {
  flex-grow: 1;
  width: 0px;
}
