:host {
  width: 100%;
  height: 100%;
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-header-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pinned-proposals {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}
