@use '../../../../../variables';

.comment-container {
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 100%;
  gap: 20px;
}

.avatar {
  border-radius: 100%;
  height: 40px;
  width: 40px;
  flex-shrink: 0;
  flex-grow: 0;
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 100%;
  height: fit-content;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: fit-content;
  gap: 12px;
  h5 {
    font-weight: variables.$font-weight-medium;
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 12px;
  width: fit-content;
  height: fit-content;
  margin-top: 5px;
}

.thumb-up-adjustment {
  padding-bottom: 3px;
}

.thumb-down-adjustment {
  padding-top: 3px;
}

.icon-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23px;
  height: 23px;
  border-radius: 100%;
  cursor: pointer;
}
