.header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cost-box {
  width: 100px;
}

.disregarding-box {
  width: 100%;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
