.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  width: 100%;
  height: fit-content;
}

.cost-box {
  width: 170px;
  height: fit-content;
}

.disregarding-box {
  width: 100%;
  height: fit-content;
}

.title-box {
  width: 100%;
  height: fit-content;
}

.description-box {
  width: 100%;
  height: fit-content;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.dialog-main-content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

margin {
  margin-top: 40px;
}
