<div class="dialog-main-content">
  <div class="header">
    <ng-container *ngIf="{ data: userService.authUser$ | async } as authUser">
      <h2>
        {{ proposal.getCurrentTitle(authUser.data) }}
      </h2>
    </ng-container>
    <img src="../../../../assets/icons/comment.svg" />
    <img src="../../../../assets/icons/star.svg" (click)="onFollow()" />
    <ng-container *ngIf="userService.authUser$ | async as authUser">
      <div
        *ngIf="
          proposal.isPendingSpecification && proposal.user.id === authUser.id
        "
        (click)="onNextState()"
      >
        <div class="tag tag-card"><p>Specify</p></div>
      </div>
      <ng-container *ngIf="authUser.isDeveloper">
        <div *ngIf="proposal.isPendingReview" (click)="onNextState()">
          <div class="tag tag-card"><p>Accept</p></div>
        </div>
        <div *ngIf="proposal.isPendingReview" (click)="onPreviousState()">
          <div class="tag tag-card"><p>Request edit</p></div>
        </div>
        <div *ngIf="proposal.isPendingReview" (click)="onDisregard()">
          <div class="tag tag-card"><p>Deny</p></div>
        </div>
        <div *ngIf="proposal.isFinalPhase" (click)="onNextState()">
          <div class="tag tag-card"><p>Last call</p></div>
        </div>
        <div *ngIf="proposal.isLastCall" (click)="onPreviousState()">
          <div class="tag tag-card"><p>Return to open</p></div>
        </div>
        <div *ngIf="proposal.isLastCall" (click)="onNextState()">
          <div class="tag tag-card"><p>Select development</p></div>
        </div>
        <div *ngIf="proposal.isSelectedForDevelopment" (click)="onNextState()">
          <div class="tag tag-card"><p>Start development</p></div>
        </div>
        <div *ngIf="proposal.isInDevelopment" (click)="onNextState()">
          <div class="tag tag-card"><p>Complete</p></div>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <div *ngIf="state.changingTo">
    <form
      class="actions-container"
      *ngIf="!proposal.isPendingSpecification"
      [formGroup]="stateChangeForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="text-field-container cost" *ngIf="state.isEditingCost">
        <input
          class="text-field-base"
          type="text"
          formControlName="cost"
          #cost
          required
        />
        <div class="full-vertical-divider"></div>
        <p class="currency-label">€</p>
        <p class="text-field-label">Cost</p>
      </div>

      <div
        class="text-field-container"
        *ngIf="state.isEditingDisregardingReason"
      >
        <input
          class="text-field-base"
          type="text"
          formControlName="disregardingReason"
          #disregardingReason
          required
        />

        <p class="text-field-label">Disregarding reason</p>
      </div>

      <div class="actions">
        <button class="button-base button-base-trans" (click)="onCancel()">
          Cancel
        </button>
        <button
          class="button-base button-base-blue"
          [disabled]="!stateChangeForm.valid"
          type="submit"
        >
          Submit
        </button>
      </div>
    </form>
    <form
      class="actions-container"
      *ngIf="proposal.isPendingSpecification"
      [formGroup]="specificationForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="text-field-container">
        <input
          class="text-field-base"
          type="text"
          formControlName="finalTitle"
          placeholder="Type Here..."
          required
        />
        <p class="text-field-label text-field-label-focused">Title</p>
      </div>

      <div class="text-field-container description-input">
        <ngx-editor-menu
          class="editor-menu"
          [editor]="editor"
          [toolbar]="toolbar"
        ></ngx-editor-menu>
        <div class="full-horizontal-divider"></div>

        <ngx-editor
          class="editor-menu"
          [editor]="editor"
          formControlName="finalDescription"
        ></ngx-editor>
        <p class="text-field-label text-field-label-focused">Description</p>
      </div>
      <div class="actions">
        <button class="button-base button-base-trans" (click)="onCancel()">
          Cancel
        </button>
        <button
          class="button-base button-base-blue"
          [disabled]="!specificationForm.valid"
          type="submit"
        >
          Submit
        </button>
      </div>
    </form>
  </div>

  <ng-container *ngIf="{ data: userService.authUser$ | async } as authUser">
    <ng-container
      *ngIf="
        proposal.disregardingReason &&
        (proposal.isNotBacked ||
          proposal.isNotViable ||
          ((proposal.isPendingSpecification || proposal.isPendingReview) &&
            (authUser.data?.isDeveloper ||
              proposal.user.id === authUser.data?.id)))
      "
    >
      <h3>Dev comment</h3>
      <p>{{ proposal.disregardingReason }}</p>
      <div class="inset-horizontal-divider"></div>
    </ng-container>
    <div
      class="margin"
      [innerHTML]="proposal.getCurrentHtmlDescription(authUser.data) | safeHtml"
    ></div>
  </ng-container>
</div>
