<div class="header">
  <h1>
    {{
      proposal.isInitialPhase ||
      proposal.isPendingSpecification ||
      proposal.isPendingReview
        ? proposal.initialTitle
        : proposal.finalTitle
    }}
  </h1>
  <ng-icon name="matChatOutline"></ng-icon>
  <ng-icon name="matStarOutlineOutline" (click)="onFollow()"></ng-icon>
  <ng-container *ngIf="userService.authUser$ | async as authUser">
    <ng-container *ngIf="authUser.isDeveloper">
      <div *ngIf="proposal.isPendingReview" (click)="onNextState()">Accept</div>
      <div *ngIf="proposal.isPendingReview" (click)="onPreviousState()">
        Request edit
      </div>
      <div *ngIf="proposal.isPendingReview" (click)="onDisregard()">Deny</div>
      <div *ngIf="proposal.isFinalPhase" (click)="onNextState()">Last call</div>
      <div *ngIf="proposal.isLastCall" (click)="onPreviousState()">
        Return to open
      </div>
      <div *ngIf="proposal.isLastCall" (click)="onNextState()">
        Select for development
      </div>
      <div *ngIf="proposal.isSelectedForDevelopment" (click)="onNextState()">
        Start development
      </div>
      <div *ngIf="proposal.isInDevelopment" (click)="onNextState()">
        Complete
      </div>
    </ng-container>
  </ng-container>
</div>
<div *ngIf="state.changingTo">
  <form [formGroup]="stateChangeForm" (ngSubmit)="onSubmit()">
    <div *ngIf="state.isEditingCost">
      <label [htmlFor]="cost">Cost</label>
      <input type="number" class="cost-box" formControlName="cost" #cost />
    </div>
    <div *ngIf="state.isEditingDisregardingReason">
      <label [htmlFor]="disregardingReason">Disregarding reason</label>
      <input
        type="text"
        class="disregarding-box"
        formControlName="disregardingReason"
        #disregardingReason
      />
    </div>
    <p>
      Please keep in mind that an email will be sent to all followers whenever
      the state of the proposal is updated.
    </p>
    <div class="actions">
      <div (click)="onCancel()">Cancel</div>
      <button [disabled]="!stateChangeForm.valid" type="submit">Submit</button>
    </div>
  </form>
</div>
<div
  [innerHTML]="
    proposal.isInitialPhase ||
    proposal.isPendingSpecification ||
    proposal.isPendingReview
      ? proposal.initialDescription
      : proposal.finalDescription
  "
></div>
