<ng-container *ngIf="state$ | async as state">
  <form [formGroup]="creationForm" (ngSubmit)="onSubmit()">
    <div class="wrapper">
      <div class="left-panel">
        <h1>Proposal creation</h1>
        <h3>Details</h3>
        <div>
          <label [htmlFor]="initialTitle">Title</label>
          <input
            type="text"
            class="title-box"
            formControlName="initialTitle"
            #initialTitle
          />
        </div>
        <div>
          <label [htmlFor]="initialDescription">Description</label>
          <input
            type="text"
            class="description-box"
            formControlName="initialDescription"
            #initialDescription
          />
        </div>
        <div formArrayName="pollLabels">
          <div
            *ngFor="
              let control of creationForm.controls.pollLabels.controls;
              let i = index
            "
          >
            <input
              type="text"
              class="poll-box"
              [formControlName]="i"
              placeholder="Poll question"
            />
            <div (click)="removePollLabelsControl(i)">Remove</div>
          </div>
        </div>
        <div (click)="addPollLabelsControl()">Add poll</div>
      </div>
      <div class="right-panel">
        <div>
          <label [htmlFor]="thumbnail">Thumbnail</label>
          <input
            type="file"
            accept=".png, .jpg, .jpeg"
            formControlName="thumbnail"
            (change)="onFileChange($event)"
            #thumbnail
          />
          <img
            *ngIf="state.thumbnailSrc"
            class="thumbnail"
            [src]="state.thumbnailSrc"
          />
        </div>
        <div class="box" formArrayName="categories">
          <div *ngFor="let category of categories; let i = index">
            <input type="checkbox" [formControlName]="i" />
            {{ category }}
          </div>
        </div>
        <div class="actions">
          <div (click)="onCancel()">Cancel</div>
          <button [disabled]="!creationForm.valid" type="submit">Submit</button>
        </div>
      </div>
    </div>
  </form>
</ng-container>
