<ng-container *ngIf="state$ | async as state">
  <form class="dialog" [formGroup]="creationForm" (ngSubmit)="onSubmit()">
    <h2>Proposal creation</h2>
    <div class="dialog-main-container">
      <div class="dialog-main-content">
        <h3>Details</h3>
        <div class="text-field-container">
          <input
            class="text-field-base"
            type="text"
            formControlName="initialTitle"
            required
          />
          <p class="text-field-label">Title</p>
        </div>
        <div class="text-field-container description-input">
          <ngx-editor-menu
            class="editor-menu"
            [editor]="editor"
            [toolbar]="toolbar"
          ></ngx-editor-menu>
          <div class="full-horizontal-divider"></div>

          <ngx-editor
            class="editor-menu"
            [editor]="editor"
            formControlName="initialDescription"
            placeholder=""
          >
            <p class="text-field-label-description">Description</p>
          </ngx-editor>
        </div>
        <div class="text-field-container" (click)="addPollLabelsControl()">
          <img class="icon-gap" src="../../../assets/icons/add-green.svg" />
          <div class="full-vertical-divider trim"></div>
          <input type="text" class="text-field-base" />
          <p class="text-field-label">Poll question</p>
          <div class="full-vertical-divider"></div>
          <p>Yes / Skip / No</p>
        </div>
        <div class="text-field-container" (click)="addPollLabelsControl()">
          <img class="icon-gap" src="../../../assets/icons/subtract.svg" />
          <div class="full-vertical-divider trim"></div>
          <input type="text" class="text-field-base" />
          <p class="text-field-label">Poll question</p>
          <div class="full-vertical-divider"></div>
          <p>Yes / Skip / No</p>
        </div>
        <div formArrayName="pollLabels">
          <div
            *ngFor="
              let control of creationForm.controls.pollLabels.controls;
              let i = index
            "
          >
            <div class="text-field-container">
              <input
                type="text"
                class="text-field-base"
                [formControlName]="i"
                placeholder="Poll question"
              />

              <p class="text-field-label">Title</p>
              <div (click)="removePollLabelsControl(i)">Remove</div>
            </div>
          </div>
        </div>
      </div>
      <div class="dialog-side-panel">
        <div class="section">
          <h3>Thumbnail</h3>

          <div class="text-field-container thumbnail">
            <input
              class="upload-action input-opacity"
              type="file"
              accept=".png, .jpg, .jpeg"
              formControlName="thumbnail"
              (change)="onFileChange($event)"
              #thumbnail
            />
            <img
              *ngIf="state.thumbnailSrc"
              class="upload"
              [src]="state.thumbnailSrc"
            />
            <img class="icon" src="../../../assets/icons/add-image.svg" />
          </div>
        </div>
        <div class="section categories">
          <h3>Categories</h3>
          <div
            class="text-field-container categories-list"
            formArrayName="categories"
          >
            <div *ngFor="let category of categories; let i = index">
              <label class="tag tag-blue">
                <input class="checkbox" type="checkbox" [formControlName]="i" />
                <span class="custom-checkbox"></span>
                <p>
                  {{
                    category.charAt(0).toUpperCase() +
                      category.slice(1).toLowerCase()
                  }}
                </p>
              </label>
            </div>
          </div>
        </div>
        <div class="actions">
          <button class="button-base button-base-trans" (click)="onCancel()">
            Cancel
          </button>
          <button
            class="button-base button-base-blue"
            [disabled]="!creationForm.valid"
            type="submit"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </form>
</ng-container>
