<div class="wrapper">
  <dipnoi-sign-in *ngIf="(view | async) === signInPath"></dipnoi-sign-in>
  <dipnoi-sign-up *ngIf="(view | async) === signUpPath"></dipnoi-sign-up>
  <dipnoi-forgot-password
    *ngIf="(view | async) === forgotPasswordPath"
  ></dipnoi-forgot-password>
  <div class="options">
    <h3>Or continue with:</h3>
  </div>
  <div class="links">
    <a
      [routerLink]="[]"
      [relativeTo]="route"
      [queryParams]="buildAuthQueryParam(forgotPasswordPath)"
      queryParamsHandling="merge"
    >
      Forgot your password?
    </a>
    <small>o</small>
    <a
      [routerLink]="[]"
      [relativeTo]="route"
      [queryParams]="
        buildAuthQueryParam(view.value === signInPath ? signUpPath : signInPath)
      "
      queryParamsHandling="merge"
    >
      {{ (view | async) === signInPath ? 'Sign up' : 'Sign in' }} here
    </a>
  </div>
</div>
