@use '../../../../../variables';
@use '../../../../../layouts';
@use '../../../../../components';

p {
  text-align: left;
}

.selection-surface p {
  font-weight: variables.$font-weight-medium;
}

.sidenav {
  flex-grow: 1;
}

.sidenav-element {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  width: calc(100% - 24px);
  height: 45px;
  margin-left: 12px;
  margin-right: 12px;
  padding-left: 18px;
  padding-right: 18px;
  gap: 12px;
  border-radius: variables.$border-radius-base;
}

.p-adjustment {
  margin-bottom: -3px;
}

svg {
  fill: variables.$text-color;
}
