<div class="dialog-content">
  <ng-container *ngIf="state$ | async as state">
    <ng-container *ngIf="state.finished">
      <div class="header">
        <!--
      <img class="image" src="../../../assets/icons/Logo1.png" />
      -->
        <h3>Password changed</h3>
        <p>Success! Your password has been changed.</p>
      </div>
    </ng-container>
    <ng-container *ngIf="!state.finished">
      <div class="header">
        <!--
      <img class="image" src="../../../assets/icons/Logo1.png" />
      -->
        <h3>Choose a new password</h3>
      </div>
      <form
        class="main-content"
        [formGroup]="resetPasswordForm"
        (ngSubmit)="onFinish()"
      >
        <div class="text-and-error">
          <div
            class="text-field-container"
            [ngClass]="{
              'text-field-error':
                resetPasswordForm.controls.password.dirty &&
                resetPasswordForm.controls.password.invalid &&
                !state.typing
            }"
          >
            <input
              class="text-field-base"
              [type]="state.hidePassword ? 'password' : 'text'"
              formControlName="password"
              required
            />
            <p class="text-field-label">Password</p>
            <ng-icon
              class="suffix"
              (click)="onHidePassword()"
              [name]="
                state.hidePassword
                  ? 'matVisibilityOffOutline'
                  : 'matVisibilityOutline'
              "
            ></ng-icon>
          </div>
          <div
            *ngIf="resetPasswordForm.controls.password.dirty && !state.typing"
            class="error"
          >
            <small
              *ngIf="resetPasswordForm.controls.password.hasError('required')"
            >
              Must not be empty
            </small>
            <small
              *ngIf="resetPasswordForm.controls.password.hasError('minlength')"
            >
              Must contain at least 8 characters
            </small>
            <small
              *ngIf="
                resetPasswordForm.controls.password.hasError('pattern') &&
                !resetPasswordForm.controls.password.hasError('minlength')
              "
            >
              Must contain at least one letter and one number
            </small>
          </div>
        </div>

        <button
          class="button-base button-base-blue"
          [disabled]="!resetPasswordForm.valid"
          type="submit"
        >
          Finish
        </button>
      </form>
    </ng-container>
  </ng-container>
</div>
