<ng-container *ngIf="state$ | async as state">
  <ng-container *ngIf="state.finished">
    <h1 class="text">Password changed</h1>
    <p class="text">Success! Your password has been changed.</p>
  </ng-container>
  <ng-container *ngIf="!state.finished">
    <h1 class="text">Choose a new password</h1>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onFinish()">
      <div class="row">
        <input
          class="input-field"
          [type]="state.hidePassword ? 'password' : 'text'"
          formControlName="password"
          required
        />
        <p class="floating-label">Password</p>
        <ng-icon
          class="suffix"
          (click)="onHidePassword()"
          [name]="
            state.hidePassword
              ? 'matVisibilityOffOutline'
              : 'matVisibilityOutline'
          "
        ></ng-icon>
      </div>
      <div>
        <small *ngIf="resetPasswordForm.controls.password.untouched">
          <br />
          Must contain at least 8 characters
          <br />
          Must contain at least one lowercase letter
          <br />
          Must contain at least one uppercase letter
          <br />
          Must contain at least one number
          <br />
          Must contain at least one special character
        </small>
        <small
          *ngIf="
            resetPasswordForm.controls.password.hasError('required') &&
            resetPasswordForm.controls.password.touched
          "
          class="error"
        >
          <br />
          Must not be empty
        </small>
        <small
          *ngIf="
            resetPasswordForm.controls.password.hasError('pattern') &&
            resetPasswordForm.controls.password.touched
          "
          class="error"
        >
          <br />
          Must contain at least 8 characters
          <br />
          Must contain at least one lowercase letter
          <br />
          Must contain at least one uppercase letter
          <br />
          Must contain at least one number
          <br />
          Must contain at least one special character
        </small>
      </div>
      <button class="row" [disabled]="!resetPasswordForm.valid" type="submit">
        Finish
      </button>
    </form>
  </ng-container>
</ng-container>
