<div class="wrapper">
  <div class="left-panel">
    <div class="left-panel-content"></div>
    <div class="full-vertical-divider"></div>
  </div>
  <div class="central-frame">
    <div class="central-frame-content">
      <div class="profile-content">
        <div class="content">
          <div class="tabs">
            <div *ngFor="let item of navigationItems" class="tab">
              <div
                class="tab-content"
                [routerLink]="item.path"
                routerLinkActive="selection-tab"
              >
                <h5 class="medium">
                  {{ item.title }}
                </h5>
                <div
                  [routerLink]="item.path"
                  routerLinkActive="underline"
                ></div>
              </div>
            </div>
          </div>

          <div class="section-content">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-panel">
    <div class="full-vertical-divider"></div>
    <div class="right-panel-content"></div>
  </div>
</div>
