<div class="wrapper">
  <div class="left-panel">
    <div class="left-panel-content"></div>
    <div class="full-vertical-divider"></div>
  </div>
  <div class="central-frame">
    <div class="central-frame-content">
      <div class="profile-content">
        <div class="content">
          <div class="profile-functions">
            <div class="tabs">
              <div class="tab">
                <h5>Overview</h5>
              </div>

              <div class="tab">
                <h5>Proposals</h5>
              </div>

              <div class="tab">
                <h5>Favorite proposals</h5>
              </div>
              <div class="tab">
                <h5>Comments</h5>
              </div>
              <div class="tab">
                <h5>Games</h5>
              </div>
            </div>

            <div class="tab-content">
              <div class="profile-ppic"></div>
              <ng-container *ngIf="userService.authUser$ | async as authUser">
                <img
                  class="profile-pic"
                  [ngSrc]="authUser.avatarUri"
                  [width]="160"
                  [height]="160"
                  [priority]="true"
                />
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-panel">
    <div class="full-vertical-divider"></div>
    <div class="right-panel-content"></div>
  </div>
</div>
