<div class="wrapper">
  <div class="left-panel">
    <div class="left-panel-content"></div>
    <div class="full-vertical-divider"></div>
  </div>
  <div class="central-frame">
    <div class="central-frame-content">
      <div class="profile-content">
        <div class="profile-banner"></div>
        <div class="full-horizontal-divider"></div>
        <div class="profile-functions">
          <div class="profile-stats">
            <div class="profile-ppic"></div>
            <ng-container *ngIf="userService.authUser$ | async as authUser">
              <img
                class="profile-pic"
                [ngSrc]="authUser.avatarUri"
                [width]="160"
                [height]="160"
                [priority]="true"
              />
            </ng-container>
          </div>
          <div class="full-vertical-divider"></div>
          <div class="profile-history">
            <div class="tabs">
              <div class="tab">
                <h4>Posts</h4>
              </div>
              <div class="full-vertical-divider"></div>
              <div class="tab">
                <h4>Comments</h4>
              </div>
              <div class="full-vertical-divider"></div>
              <div class="tab">
                <h4>Games</h4>
              </div>
            </div>
            <div class="full-horizontal-divider"></div>
            <div class="post-history">
              <div class="horizontal-card"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-panel">
    <div class="full-vertical-divider"></div>
    <div class="right-panel-content"></div>
  </div>
</div>
