@use '../../../../variables';

:host {
  width: fit-content;
  height: fit-content;
}

.toggle-container {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50px;
}

.line {
  position: absolute;
  z-index: -1;
  width: 35px;
  height: 1px;
  background-color: variables.$outline;
}

.circle {
  background-color: variables.$blue-light;
  border-radius: 100%;
  height: 14.5px;
  width: 14.5px;
}

.hidden {
  background-color: variables.$card;
  border-radius: 100%;
  height: 14.5px;
  width: 14.5px;
}

.icon {
}
