@use '../../../../variables';
@use '../../../../layouts';
@use '../../../../components.scss';
@use '../../../../mixins.scss';

:host {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
  height: 40px;
  gap: 30px;
  padding: 0px 30px;
  align-items: center;
}

.library-button {
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: fit-content;
  height: fit-content;
}

.add-button {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  border: none;
  background-color: variables.$card;
  @include mixins.shadow-4;
}

.searchbar {
  padding: 0px;
  width: 150px;
  background-color: inherit;
  border-radius: none;
  box-shadow: none;
}

.text-field-searchbar {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  word-break: break-word;
  overflow: hidden;
}

.dropdown-option {
  justify-content: left;
  gap: 15px;
}
