<div *ngIf="proposal.isFirstInSection(previousProposal)" class="section">
  <div class="horizontal-divider section-divider"></div>
  <p>{{ proposal.finalDate.toLocaleDateString() }}</p>
  <div class="horizontal-divider section-divider"></div>
</div>
<div
  class="wrapper"
  [routerLink]="[]"
  [relativeTo]="route"
  [queryParams]="proposal.selectedQueryParam"
  queryParamsHandling="merge"
>
  <ng-container *ngIf="{ data: userService.authUser$ | async } as authUser">
    <div class="column">{{ proposal.getCurrentTitle(authUser.data) }}</div>
  </ng-container>
  <div class="column">{{ proposal.user.nickname }}</div>
  <div class="column">
    <div *ngFor="let tag of proposal.categories" class="tag">
      <small>
        {{ tag }}
      </small>
    </div>
  </div>
  <div class="column">{{ proposal.createdAt }}</div>
  <div class="column">{{ proposal.finalDate.toDateString() }}</div>
</div>
