@use 'variables';

/* Font tags */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

h1 {
  font-family: variables.$font-family-base;
  font-size: variables.$font-size-xxxl;
  line-height: variables.$font-line-height-xxl;
  font-weight: variables.$font-weight-bold;
  letter-spacing: variables.$font-letter-spacing-tightest;
  margin-top: variables.$font-paragraph-spacing-normal;
  margin-bottom: variables.$font-paragraph-spacing-normal;
  font-variant-ligatures: none;
  font-kerning: normal;
  text-align: left;
}

h2 {
  font-family: variables.$font-family-base;
  font-size: variables.$font-size-xxl;
  line-height: variables.$font-line-height-xl;
  font-weight: variables.$font-weight-bold;
  letter-spacing: variables.$font-letter-spacing-tightest;
  margin-top: variables.$font-paragraph-spacing-normal;
  margin-bottom: variables.$font-paragraph-spacing-normal;
  font-variant-ligatures: none;
  font-kerning: normal;
  text-align: left;
}

h3 {
  font-family: variables.$font-family-base;
  font-size: variables.$font-size-xl;
  line-height: variables.$font-line-height-lg;
  font-weight: variables.$font-weight-bold;
  letter-spacing: variables.$font-letter-spacing-tightest;
  margin-top: variables.$font-paragraph-spacing-normal;
  margin-bottom: variables.$font-paragraph-spacing-normal;
  font-variant-ligatures: none;
  font-kerning: normal;
  text-align: left;
}

h4 {
  font-family: variables.$font-family-base;
  font-size: variables.$font-size-lg;
  line-height: variables.$font-line-height-md;
  font-weight: variables.$font-weight-bold;
  letter-spacing: variables.$font-letter-spacing-tightest;
  margin-top: variables.$font-paragraph-spacing-normal;
  margin-bottom: variables.$font-paragraph-spacing-normal;
  font-variant-ligatures: none;
  font-kerning: normal;
  text-align: left;
}

h5 {
  font-family: variables.$font-family-base;
  font-size: variables.$font-size-md;
  line-height: variables.$font-line-height-md;
  font-weight: variables.$font-weight-normal;
  letter-spacing: variables.$font-letter-spacing-loose;
  margin-top: variables.$font-paragraph-spacing-normal;
  margin-bottom: variables.$font-paragraph-spacing-normal;
  font-variant-ligatures: none;
  font-kerning: normal;
  text-align: left;
}

p {
  font-family: variables.$font-family-base;
  font-size: variables.$font-size-sm;
  line-height: variables.$font-line-height-sm;
  font-weight: variables.$font-weight-normal;
  letter-spacing: variables.$font-letter-spacing-tight;
  margin-top: variables.$font-paragraph-spacing-normal;
  margin-bottom: variables.$font-paragraph-spacing-normal;
  font-variant-ligatures: normal;
  font-kerning: normal;
  text-align: justify;
}

small {
  font-family: variables.$font-family-base;
  font-size: variables.$font-size-xs;
  line-height: variables.$font-line-height-xs;
  font-weight: variables.$font-weight-normal;
  letter-spacing: variables.$font-letter-spacing-normal;
  margin-top: variables.$font-paragraph-spacing-normal;
  margin-bottom: variables.$font-paragraph-spacing-normal;
  font-variant-ligatures: normal;
  font-kerning: normal;
  text-align: left;
}

/* Cursors */
a {
  cursor: pointer;
  color: blue;
}
