@use 'variables';
@import '@angular/cdk/overlay-prebuilt.css';

$maxScreenWidth: 1920px;

:focus-visible {
  outline: none !important;
}

app-root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.success {
  color: green;
}

.success-background {
  background-color: green;
}

.warning {
  color: yellow;
}

.warning-background {
  background-color: yellow;
}

.error {
  color: red;
}

.error-background {
  background-color: red;
}

/* Dividers */
.inset-horizontal-divider {
  height: variables.$divider-size-normal;
  background-color: variables.$outline-variant;
  width: 75%;
}

.full-horizontal-divider {
  height: variables.$divider-size-normal;
  background-color: variables.$outline-variant;
  width: 100%;
}

.inset-vertical-divider {
  width: variables.$divider-size-normal;
  background-color: variables.$outline-variant;
  height: 75%;
}

.full-vertical-divider {
  width: variables.$divider-size-normal;
  background-color: variables.$outline-variant;
  height: 100%;
}

.NgxEditor--Disabled {
  border: 1px solid white;
}

.NgxEditor__MenuBar {
  background-color: blue !important;
  color: red !important;
}

.NgxEditor__MenuItem--Active {
  background-color: yellow !important;
}

.NgxEditor__MenuItem:hover {
  background-color: green !important;
}

.NgxEditor__Dropdown:hover {
  background-color: green !important;
}

.NgxEditor__Dropdown--Selected {
  background-color: inherit !important;
  color: inherit !important;
}

.NgxEditor__Dropdown--Item {
  background-color: blue !important;
}

.NgxEditor__Dropdown--Item:hover {
  background-color: green !important;
}
