@use 'variables';
@import '@angular/cdk/overlay-prebuilt.css';

$maxScreenWidth: 1920px;
$headerHeight: 56px;
$footerHeight: 40px;
$sidenavWidth: 260px;

a {
  cursor: pointer;
  color: blue;
}

::-webkit-scrollbar {
  background: rgba(0, 0, 0, 0);
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

:focus-visible {
  outline: none !important;
}

app-root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.success {
  color: green;
}

.success-background {
  background-color: green;
}

.warning {
  color: yellow;
}

.warning-background {
  background-color: yellow;
}

.error {
  color: red;
}

.error-background {
  background-color: red;
}

.horizontal-divider {
  border-bottom: 1px solid #000;
  width: 100%;
}

.vertical-divider {
  border-right: 1px solid #000;
  height: 100%;
}

.NgxEditor--Disabled {
  border: 1px solid white;
}

.NgxEditor__MenuBar {
  background-color: blue !important;
  color: red !important;
}

.NgxEditor__MenuItem--Active {
  background-color: yellow !important;
}

.NgxEditor__MenuItem:hover {
  background-color: green !important;
}

.NgxEditor__Dropdown:hover {
  background-color: green !important;
}

.NgxEditor__Dropdown--Selected {
  background-color: inherit !important;
  color: inherit !important;
}

.NgxEditor__Dropdown--Item {
  background-color: blue !important;
}

.NgxEditor__Dropdown--Item:hover {
  background-color: green !important;
}
