@use 'variables';

/* Left panel*/
.left-panel {
  display: flex;
  flex-direction: row;
  width: variables.$sidenav-width;
  height: 100%;
  background-color: variables.$surface;
}

.left-panel-content {
  display: flex;
  flex-direction: column;
  width: calc(variables.$sidenav-width) - 1;
  height: 100%;
}

.sidenav {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  width: calc(variables.$sidenav-width - 1px);
  height: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 20px;
}

.footer {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  width: calc(variables.$sidenav-width - 1px);
  background-color: variables.$surface;
  height: fit-content;
  padding: 30px;
}

/* Right panel*/
.right-panel {
  display: flex;
  flex-direction: row;
  width: variables.$sidenav-width;
  height: 100%;
  background-color: variables.$surface;
}

.right-panel-content {
  display: flex;
  flex-direction: column;
  width: calc(variables.$sidenav-width) - 1;
  height: 100%;
}

/* Header */
.header {
  display: flex;
  flex-direction: column;
  height: variables.$header-height;
  background-color: variables.$surface;
}

.header-content {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  height: calc(variables.$header-height - 1px);
  padding-left: 22px;
  padding-right: 22px;
}
