/* Shadows */
@mixin shadow-4 {
  $shadow-color: rgba(0, 0, 0, 0.12);
  $shadow1: 0 1px 3px $shadow-color;
  $shadow2: 0 3px 6px $shadow-color;
  $shadow3: 0 8px 12px $shadow-color;
  box-shadow: $shadow1, $shadow2, $shadow3;
}

/* Text formats */
@mixin text-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
