/* Background colors */
$surface: #191c1e;
$card: #1e2224;

/* Outline colors */
$outline: #8b9198;
$outline-variant: #41484d;

/* Text colors */
$text: #c1c7ce;

/* Specific element colors */
$bar-scroll: #101214;
$bar-progress: #313539;
$text-field: #171a1c;
$label-black: #181c20;

/* Interaction colors*/
$selection-surface: #272c2f;
$selection-card: #2c3135;

/* Secondary colors */
$red: #b7151e;
$yellow: #c6a700;
$green: #43aa32;
$olive: #869f25;
$blue-light: #39b2ff;
$orange: #d48d09;
$gray: #c1c1c1;

/* Social colors */
$google: #e6533a;
$facebook: #1976d2;

/* Font families */
$font-family-base: 'Roboto';

/* Font sizes */
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 24px;
$font-size-xxl: 28px;
$font-size-xxxl: 36px;

/* Line heights */
$font-line-height-xs: 16px;
$font-line-height-sm: 20px;
$font-line-height-md: 24px;
$font-line-height-lg: 32px;
$font-line-height-xl: 36px;
$font-line-height-xxl: 44px;

/* Font weights */
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

/* Letter spacing */
$font-letter-spacing-tightest: 0px;
$font-letter-spacing-tight: 0.25px;
$font-letter-spacing-normal: 0.4px;
$font-letter-spacing-loose: 0.5px;

/* Paragraph spacing */
$font-paragraph-spacing-normal: 0px;
